@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
  background-color: #050f24;
}

::selection {
  background-color: rgba(4, 102, 200, 0.7); /* Azul con 50% de opacidad */
  color: #ffffff;
}

::-moz-selection {
  background-color: rgba(4, 102, 200, 0.7);
  color: #ffffff;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #0D1224;
}

::-webkit-scrollbar-thumb {
  background: transparent;
  transition: background 0.3s ease;
}

::-webkit-scrollbar-thumb:hover {
  background: #888;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #888 #0D1224;
}

@layer utilities {
  .rotateY-90 {
    transform: rotateY(90deg);
  }

  .flip-in {
    opacity: 1 !important;
    transform: rotateY(0deg) !important;
  }

  .perspective {
    perspective: 1000px;
  }

  .benefit-card {
    transition: transform 0.7s ease-out, opacity 0.7s ease-out;
    transform-style: preserve-3d;
    backface-visibility: hidden;
  }
}

@keyframes slideScaleIn {
  0% {
    opacity: 0;
    transform: translateX(-50px) scale(0.95);
  }
  60% {
    opacity: 1;
    transform: translateX(10px) scale(1.02);
  }
  100% {
    opacity: 1;
    transform: translateX(0) scale(1);
  }
}

.animate-slideScale {
  animation-name: slideScaleIn;
  animation-duration: 600ms;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 0;
}